<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <title>Github Timeline</title>
</head>
<body>
    <div id="form-container">
        <form method="POST" action="/">
            <input type="text" autocomplete="off" placeholder="Enter Github ID" name="userId"></input>
            <button>Search</button>
        </form>
    </div>
    <% if(message) { %>
        <h1><%= message %></h1>
    <% } %>
    <% if(summary) { %>
        let total = 0;
        Repos of the year
        <% for(var prop in summary) { %>
            total += summary[prop];
            <h1><%= prop %>: <%= summary[prop] %></h1>
        <% } %>
        <h1>total: <%= total %></h1>
    <% } %>
    <% if(lists.length > 0) { %>
        <!-- The Timeline -->
        <ul class="timeline">
            <% for(let i=0; i<lists.length; i++) { %>
                <% if(i%2 == 0)  { %>
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">
                                    <%=lists[i].title%>
                                    <span class="language">
                                        <%=lists[i].language%>
                                    </span>
                                </span>
                                <span class="time-wrapper">
                                    <span class="time"><%= lists[i].date %></span>
                                    <span class="time">
                                        <% if(lists[i].type != 'created') { %>
                                            last
                                        <% } %>
                                        <%= lists[i].type %>
                                    </span>
                                </span>
                            </div>
                            <div class="desc">
                                <% if(lists[i].type == 'created') { %>
                                    <p><%= lists[i].description ? lists[i].description : 'No Description'%></p>
                                    <p><%=lists[i].url%></p>
                                <% } %>
                            </div>
                        </div>
                    </li>
                <% } else { %>
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">
                                        <%=lists[i].title%>
                                        <span class="language">
                                            <%=lists[i].language%>
                                        </span>
                                    </span>
                                <span class="time-wrapper">
                                    <span class="time">
                                        <% if(lists[i].type != 'created') { %>
                                            last
                                        <% } %>
                                        <%= lists[i].type %>
                                    </span>
                                    <span class="time"><%= lists[i].date %></span>
                                </span>
                            </div>
                            <div class="desc">
                                <% if(lists[i].type == 'created') { %>
                                    <p><%= lists[i].description ? lists[i].description : 'No Description'%></p>
                                    <p><%=lists[i].url%></p>
                                <% } %>
                            </div>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </ul>
    <% } %>
</body>
<script type="text/javascript" src="/script.js"></script>
</html>